body {
    margin: 0;
    background-color: #e0e0e0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    height: 79px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.site-menu > a{
    padding: 30px 25px 28px;
    color: white;
    text-decoration: none;
    font-size: 14;
    font-weight: 700;
    text-transform: uppercase;
}
.site-menu > a:hover {
    background-color:  #ff3f40;
}
.intro {
    display: flex;
    justify-content: space-between;
    margin: 106px 10% 0px;
}
.intro-wrapper {
    margin-top: 0px;
    width: 40%;
}
.intro-wrapper > h1 {
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 35px;
    text-transform: uppercase;
}
.intro-text {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    margin-bottom: 60px;
}
.contact-link {
    background-color: #ff3f40;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 60px;
    color: white;
    text-decoration: none;

}
.intro-image {
    width: 551px;
    height: 356px;
}
.subscribe {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	background-color: #2c2c2c;
	margin-top: 50px;
	padding-top: 124px;
	padding-bottom: 140px;
}
.subscribe_header {
	max-width: 1249px;
	margin: 0 auto;
	text-align: center;
}
.subscribe_text_head {
	color: #fff;
	opacity: 0.8;
	text-transform: none;
	margin-bottom: 30px;
}
h2 {
	color: #585858;
	/* Хотя в макете цвет текста заголовков и других элементов достигается прозрачностью, в браузере такое значение даст другой результат. Другой вариант: взять цвет в фотошопе пипеткой. */
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 600;
	font-size: 42px;
	line-height: 55px;
	text-transform: uppercase;
}
.subscribe_text {
	color: #fff;
	opacity: 0.8;
	margin-bottom: 50px;
}
.subscribe__form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.subscribe__form .subscribe__input {
	color: #8e8e8e;
	display: flex;
    align-items: center;
    align-content: center;
	box-sizing: border-box;
	flex: 0 1 521px;
	min-height: 79px;
	padding: 0;
	padding-left: 35px;
	padding-right: 35px;
	border: none;
	border-radius: 5px;
	margin-right: 22px;
	background-color: #fff;
}

.subscribe__form .subscribe__button {
	display: flex;
    align-items: center;
    align-content: center;
	justify-content: center;
	color: #fff;
	font-size: 18px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 700;
	width: 214px;
	min-height: 79px;
	background-color: #ff2d2d;
	border: none;
	border-radius: 5px;
	text-transform: uppercase;
}